
@{
    Layout = "~/Views/Shared/_LayoutBig.cshtml";
}

<img src="~/Content/images/pics/home.png" alt="Компьютерная помощь Минск"/>
<p>
    Специалисты нашей компании с радостью окажут добросовестную помощь по ремонту и обслуживанию компьютерной техники на самых выгодных условиях.
    Сотрудничая с нами, вы всегда можете рассчитывать на высокую квалификацию, пунктуальность, оперативность и гарантийные обязательства.
</p>
<p>
    Разнообразные акционные предложения и программа лояльности для постоянных клиентов сберегут Ваш бюджет и позволят воспользоваться лучшим
    соотношением цена – качество!
</p>

<div class="price">
    <div class="from">от</div>
    <div class="value">170<span>000</span><span id="rub">р.</span></div>
</div>
