@{
    ViewBag.Title = "Index";
    ViewBag.Description = "Вот такой дескрипшн";
    ViewBag.KeyWords = "Вот такие Кей ворды";
}

<div class="center">
    <div class="hero">
        <img src="~/Content/images/Visuals/windows.png" alt="" />
    </div>
</div>
<div class="left">
    <h1>Установка Windows</h1>
    <h2>
        Минск
    </h2>
    <p>
        Наши специалисты, оценив технические характеристики вашего устройства, помогут правильно подобрать систему Windows, произведут установку, наладку и обновление. Проконсультируют по вопросам оптимизации компьютерных комплектующих под имеющиеся задачи и требования системы.
    </p>
    <p> 
        Обратившись к нам, вы получите комплексный подход, решающий все вопросы по установке программного обеспечения.
    </p>
    <p>Windows XP, Windows 7, Windows 8.1, Windows 10.</p>
    <div class="price">
        <div class="from">от</div>
        <div class="value">297<span>000</span></div>
    </div>
    <div class="button">
        <a href="#order">Вызвать мастера</a>
    </div>
</div>