
<div class="center">
    <div class="hero">
        <img src="~/Content/images/Visuals/modern.png" alt="" />
    </div>
</div>
<div class="left">
    <h1>Модернизация компьютера</h1>
    <h2>
        Минск
    </h2>
    <p>
        Ваш компьютер устарел и как результат медленно работает программное обеспечение, тормозят игры, не поддерживаются новые технологии? Мы поспешим к Вам на помощь! Будьте уверены, наши специалисты применят комплексный подход, подобрав комплектующие именно под ваши нужды, не переплачивая деньги за невостребованное!
    </p>
    
    <div class="price">
        <div class="from">от</div>
        <div class="value">180<span>000</span><span id="rub">р.</span></div>
    </div>
    <div class="button">
        <a href="#order">Вызвать мастера</a>
    </div>
</div>