
<div class="center">
    <div class="hero">
        <img src="~/Content/images/Visuals/programs.png" alt="" />
    </div>
</div>
<div class="left">
    <h1>Установка программ</h1>
    <h2>
        Минск
    </h2>
    <p>
        Возникла необходимость в установке и настройке программного обеспечение? Мы всегда рады прийти Вам на помощь! Огромный спектр программ под любые комплектации для разных задач, начиная от простых офисных и заканчивая сложными инженерными.
    </p>
    <p>
        В любое удобное для Вас время, наши специалисты быстро и качественно произведут установку и базовую настройку. Экономьте время и нервы с GetHelp. 
    </p>
    <div class="price">
        <div class="from">от</div>
        <div class="value">180<span>000</span><span id="rub">р.</span></div>
    </div>
    <div class="button">
        <a href="#order">Вызвать мастера</a>
    </div>
</div>