
<div class="center">
    <div class="hero">
        <img src="~/Content/images/Visuals/Repair.png" alt="" />
    </div>
</div>
<div class="left">
    <h1>Ремонт компьютеров</h1>
    <h2>
       Минск
    </h2>
    <p>
        Диагностику неисправности, качественный и не дорогой ремонт — это лишь малая часть того, что могут предложить сотрудники нашей компании для решения проблем связанных с поломкой компьютера.
    </p>
    <p>
        Доверяя проблему нашим профессионалам, вы получите быстрый и качественный результат, не выходя из дома.
    </p>
    <div class="price">
        <div class="from">от</div>
        <div class="value">570<span>000</span></div>
    </div>
    <div class="button">
        <a href="#order">Вызвать мастера</a>
    </div>
</div>
