
<div class="center">
    <div class="hero">
        <img src="~/Content/images/Visuals/RepairBook.png" alt="" />
    </div>
</div>
<div class="left">
    <h1>Ремнот ноутбуков</h1>
    <h2>
        Минск
    </h2>
    <p>
        Качественно и не дорого почистим систему охлаждения, заменим термопасту,  терморезинки. Заменим разбитую матрицу, неисправную клавиатуру, оптические привода, жесткие диски, шлейфы, модули связи. При необходимости модернизируем комплектацию, установим программное обеспечение.
    </p>
    <p>
        Короткие сроки, вежливый персонал, гарантийные обязательства.
    </p>
    <div class="price">
        <div class="from">от</div>
        <div class="value">180<span>000</span></div>
    </div>
    <div class="button">
        <a href="#order">Вызвать мастера</a>
    </div>
</div>
