
@{
    ViewBag.Title = "Index";
    ViewBag.Description = "Вот такой дескрипшн";
    ViewBag.KeyWords = "Вот такие Кей ворды";
}

<div class="center">
    <div class="hero">
        <img src="~/Content/images/Visuals/virus.png" alt="" />
    </div>
</div>
<div class="left">
    <h1>Удаление вирусов</h1>
    <h2>
        Минск
    </h2>
    <p>
        Заражение компьютера вредоносными вирусами чревато утечкой информации, такой как номера кредитных карт, пароли к социальным сетям, фотографии и прочая приватная информация, которая в руках злоумышленников может стать оружием для завладения вашим материальным и интеллектуальным имуществом.
    </p>
    <p>
        Для вашей безопасности, специалисты компании <b>GetHelp</b> проведут работы по обнаружению и удалению вредоносных программ, а также помогут установить и настроить надежную защиту.
    </p>
    <div class="price">
        <div class="from"></div>
        <div class="value">280<span>000</span></div>
    </div>
    <div class="button">
        <a href="#order">Вызвать мастера</a>
    </div>
</div>

